<mat-card class="article-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{ article.title }}</mat-card-title>
    </mat-card-title-group>
  </mat-card-header>
  <img [alt]="article.title" [src]="article.urlToImage" mat-card-image/>
  <mat-card-content>
    <p> {{ article.description }}</p>
  </mat-card-content>
  <mat-card-actions class="actions-section">
    <a [href]="article.url" class="action-button" color="primary" mat-button target="_blank">{{ 'read-more' | translate }}</a>
    <span class="default-spacer"></span>
    <a [href]="article.source.url" class="action-button" mat-button target="_blank">{{ article.source.name }}</a>
    <button aria-label="Comments" color="white" mat-icon-button><mat-icon>comment</mat-icon></button>
    <button aria-label="Share" color="white" mat-icon-button><mat-icon>share</mat-icon></button>
  </mat-card-actions>
</mat-card>
